super_gradients==3.1.0
streamlit==1.22.0
ultralytics==8.0.98
opencv-python==4.7.0.72
Pillow==9.5.0

torch>=1.9.0
torchvision>=0.10.0
numpy>=1.21.0

streamlit-webrtc==0.45.0
av>=8.0.0

# Let super-gradients dictate protobuf version
protobuf==3.20.3
streamlit-autorefresh